<!--<div class="main_component">
  @if (signupErrorMessage) {
    <div>{{ signupErrorMessage }}</div>
  }
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <span><label>Username: </label><input formControlName="username" type="text" /></span>
    <span><label>Email: </label><input formControlName="email" type="text" /></span>
    <span><label>Password: </label><input formControlName="password" type="password" /></span>
    <span>
      <button type="submit">Submit</button>
    </span>
  </form>
</div>
-->

<!-- signup.component.html -->
<div class="main_component">
<mat-card>
  <mat-card-header>Signup</mat-card-header>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Enter your email:</mat-label>
        <input matInput placeholder="example@example.com" formControlName="email">
        <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">Enter a valid email!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your username:</mat-label>
        <input matInput placeholder="Your username" formControlName="username">
        <mat-error *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">Required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password:</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">Required (min 6 characters)!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password again:</mat-label>
        <input matInput type="password" formControlName="passwordAgain">
        <mat-error *ngIf="signupForm.get('passwordAgain')?.invalid && signupForm.get('passwordAgain')?.touched">
          Passwords do not match!
        </mat-error>
      </mat-form-field>
      <div *ngIf="signupErrorMessage" class="error-message">{{ signupErrorMessage }}</div>
      <button mat-raised-button color="primary" type="submit">Signup</button>
    </form>
  </mat-card-content>
</mat-card>
</div>

