<!--<div class="main_component">
  @if (loginErrorMessage) {
    <div>{{ loginErrorMessage }}</div>
  }
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <span><label>Email: </label><input formControlName="email" type="text" /></span>
    <span><label>Password: </label><input formControlName="password" type="password" /></span>
    <span>
      <button type="submit">Login</button>
      <button routerLink="/signup">Signup</button>
    </span>
  </form>
</div>
-->
<div class="main_component">
<mat-card>
  <mat-card-header>Login</mat-card-header>
  <mat-card-content>
    @if (loginErrorMessage) {
      <div>{{ loginErrorMessage }}</div>
    }
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Enter your username or email:</mat-label>
        <input matInput placeholder="example@example.com" formControlName="usernameOrEmail">
        <mat-error *ngIf="loginForm.get('usernameOrEmail')?.invalid && loginForm.get('usernameOrEmail')?.touched"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password:</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.touched"></mat-error>
      </mat-form-field>
      <div class="login_buttons">
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-raised-button color="secondary" routerLink="/signup">Signup</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>




