.navigation-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-items li {
  margin-left: 2vw;
}

.navigation-items a:hover, a:active {
  color: lightgray;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-items a {
  text-decoration: None;
  color: white;
}

.navigation-items mat-icon {
  vertical-align: middle;
}

.main-title a {
  text-decoration: None;
  color: white;
}

.sidenav-parent {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: max-content;
  border-radius: 0 20px 20px 0;
}

@media (max-width: 480px) {
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
}

@media (min-width: 481px) {
  .desktop-navbar {
    display: block;
  }
  .mobile-navbar {
    display: none;
  }
}

@media (max-width: 200px) {
  .main-title {
    display: none;
  }
}

@media (min-width: 201px) {
  .main-title {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ha azt szeretnéd, hogy a két elem között tér legyen */
  }

  .main-title a {
    margin-right: auto; /* Ez opcionális, hogy az 'a' elem jobb oldalra kerüljön */
  }

  mat-toolbar {
    display: flex;
    align-items: center;
  }

}









