<mat-sidenav-container>
  <mat-sidenav class="sidenav-parent" #sidenav>
    <app-menu (onCloseSidenav)="onClose($event,sidenav)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="mobile-navbar">
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>
            menu
          </mat-icon>
        </button>
      </div>
      <div class="main-title"><a routerLink="/">My App</a>
      </div>
      <div class="desktop-navbar">
        <ul class="navigation-items">
          <li *ngIf="!isCheckoutPage">
            <a routerLink="" (click)="showCartContent()">Your Cart <mat-icon>shopping_cart</mat-icon></a>
          </li>
          @if (authService.firebaseAuth.currentUser === null) {
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          }
          @else {
            <li><a routerLink="/">Main</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a routerLink="/contact">Contact</a></li>

            <li><a routerLink="/login" (click)="logout()">Logout</a></li>
          }
        </ul>
      </div>
    </mat-toolbar>
    <div style="min-height: 100vh">
      <router-outlet />
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


