img {
  width: 90px;
  height: 135px;
  object-fit: cover;
  object-position: center top;
}
mat-card {
  width: 180px;
  height: 300px;
  display: flex;
}


mat-card-header {
  margin-top: 5px; /* Törli a felső margót */
  height: 80px; /* Példában a fix magasság */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* A fejléc felső részéről indul */
  align-items: center; /* Középre igazítás */
  text-align: center;
}


mat-card-title {
  font-size: medium;
  line-height: 1.2;
  margin-bottom: 5px;
}

mat-card-subtitle {
  line-height: 1;
}

.book-card {
  display: flex;
  flex-direction: column;
}

.book-cover-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.book-cover {
  max-width: 100%;
}


mat-card-image {
  width: 100%;
  height: auto;
}

mat-card-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

mat-card-actions button {
  margin: 0 5px;
}

