.example-container {
  height: 100%;
  width: 100%;
}

mat-toolbar {
  background: #3f51b5;
  color: white;
}

mat-toolbar button {
  color: yellow;
}

mat-sidenav {
  width: 250px;
}


$tileWidth: 180px;

mat-grid-list {
  display: grid;
  grid-template-columns: repeat(var(--max-columns, 4), $tileWidth);


}

.button-container {
  display: flex;
  justify-content: center; /* Középre igazítás */
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

button {

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button + button {
  margin-left: 10px;
}

button[disabled] {

  cursor: not-allowed;
}

.page-counter {
  margin: 0 10px;
  font-size: 16px;
}
