<h1 *ngIf="authService.isUserLoggedIn()">Welcome {{authService.getUsername()}}!</h1>

<mat-grid-list [cols]="getMaxColumns()" rowHeight="330px">
  <mat-grid-tile *ngFor="let book of books">
    <app-list-item [book]="book"></app-list-item>
  </mat-grid-tile>
</mat-grid-list>





<div *ngIf="totalPages > 1">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  <span>{{currentPage}} / {{totalPages}}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>


