<!-- change-password.component.html -->
<div class="change_password">
<mat-card>
  <mat-card-header>Change your password</mat-card-header>
  <mat-card-content>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form">
      <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" type="password">
        <mat-error *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched">
          Required!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password">
        <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
          Required (min 6 characters)!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>New Password Again</mat-label>
        <input matInput formControlName="newPasswordAgain" type="password">
        <mat-error *ngIf="passwordForm.get('newPasswordAgain')?.invalid && passwordForm.get('newPasswordAgain')?.touched">
          Passwords do not match!
        </mat-error>

      </mat-form-field>
      <div *ngIf="passwordErrorMessage" class="error-message">{{ passwordErrorMessage }}</div>
      <button mat-raised-button color="primary" type="submit">Change Password</button>


    </form>
  </mat-card-content>
</mat-card>
</div>
