<div class="change_contact">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="contact-form">
        <div class="fullname" formGroupName="nameGroup">
          <h1>Your name</h1>
          <mat-form-field>
            <mat-label>Firstname:</mat-label>
            <input matInput formControlName="firstname" type="text">
            <mat-error *ngIf="checkoutForm.get('nameGroup.firstname')?.invalid && checkoutForm.get('nameGroup.firstname')?.touched">
              Firstname is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lastname:</mat-label>
            <input matInput formControlName="lastname" type="text">
            <mat-error *ngIf="checkoutForm.get('nameGroup.lastname')?.invalid && checkoutForm.get('nameGroup.lastname')?.touched">
              Lastname is required
            </mat-error>
          </mat-form-field>
        </div>
        <div formGroupName="addressGroup">
          <h1>Your address</h1>
          <mat-form-field>
            <mat-label>Postal code:</mat-label>
            <input matInput formControlName="postalCode" type="text">
            <mat-error *ngIf="checkoutForm.get('addressGroup.postalCode')?.invalid && checkoutForm.get('addressGroup.postalCode')?.touched">
              Postal code is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>City:</mat-label>
            <input matInput formControlName="city" type="text">
            <mat-error *ngIf="checkoutForm.get('addressGroup.city')?.invalid && checkoutForm.get('addressGroup.city')?.touched">
              City is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Address line:</mat-label>
            <input matInput formControlName="addressLine" type="text">
            <mat-error *ngIf="checkoutForm.get('addressGroup.addressLine')?.invalid && checkoutForm.get('addressGroup.addressLine')?.touched">
              Address line is required
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Phone number:</mat-label>
          <input matInput formControlName="phoneNumber" type="text">
          <mat-error *ngIf="checkoutForm.get('phoneNumber')?.invalid && checkoutForm.get('phoneNumber')?.touched">
            Bad format!
          </mat-error>
        </mat-form-field>
        <div *ngIf="checkoutErrorMessage" class="error-message">{{ checkoutErrorMessage }}</div>
        <div style="margin-top: 10px;">
          <button mat-button color="secondary" (click)="saveForLater()">Save In Profile</button>
          <button mat-raised-button color="primary" type="submit">Place Order</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>


